:root {
    --blue: #10486b;
    --light_gray: #696969;
    --gray: #3a3e43;
    --orange: #c96700;
    --white: #f0f0f0;
    --off_white: #d6d6d6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family: 'Nova Square', sans-serif;
    background-color: var(--gray);
    color: var(--orange);
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.header {
    padding: 10px;
    margin: 20px;
    font-size: 45px;
    font-weight: bolder;
    max-width: 500px;
}

.phone-div {
    width: 275px;
    height: 475px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 15px;
    background-color: var(--blue);
    box-shadow: 5px 5px 3px black;
    font-size: 20px;
}

.phone-screen-div {
    border-radius: 5px;
    width: 240px;
    height: 400px;
    justify-content: center;
    background-color: var(--light_gray);
    margin: 5px 0 10px 0;
}

.phone-top-border {
    margin: 0 auto;
    height: 0;
    width: 40px;
    border-radius: 0 0 30px 30px;
    border-top: 25px solid var(--blue);
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
}

.phone-camera {
    margin: -22px auto 0 auto;
    height: 15px;
    width: 15px;
    border-radius: 20px;
    background-color: black;
}

label {
    margin: 10px;
}

.user-input {
    width: 215px;
    height: 30px;
    margin: 10px;
    color: var(--orange);
    font-family: 'Nova Square', sans-serif;
    font-size: 20px;
    border-radius: 8px;
}

.check-btn, .clear-btn {
    font-size: 15px;
    font-family: 'Nova Square', sans-serif;
    border-radius: 13px;
    padding: 5px;
    color: var(--white);
    background-color: var(--orange);
    cursor: pointer;
    width: 90px;
    margin: 0 10px;
}

.results-div {
    height: 300px;
    width: 100%;
    overflow-y: auto;
}

.result-text {
    margin: 0 0 10px 0;
}

.valid {
    color: var(--orange)
}

.invalid {
    color: var(--gray);
}
